body {
    margin: 0;
    padding: 0;
    font-family: Pretendard, sans-serif;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer .img-fluid {
    max-width: 150px;
}

.footer .text-uppercase {
    font-weight: bold;
}

.footer .list-unstyled {
    list-style: none;
    padding: 0;
}

.footer .list-unstyled li {
    margin-bottom: 10px;
}

.footer .text-dark {
    color: #000;
    text-decoration: none;
}

.footer .text-dark:hover {
    text-decoration: underline;
}

@media (max-width: 767.98px) { /* Mobile devices */

/* Adjust image size on larger screens */
.result-image {
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .result-image {
        max-width: 500px; /* Adjust this value as needed */
    }
}

@media (min-width: 1200px) {
    .result-image {
        max-width: 700px; /* Adjust this value as needed */
    }
}

@media (min-width: 768px) { /* Tablets and larger screens */
    .container {
        max-width: 500px;
        margin: auto;
    }
}

@media (max-width: 767.98px) { /* Mobile devices */
    .container {
        max-width: 100%;
        margin: auto;
    }
}
}
