body {
    margin: 0;
    padding: 0;
    font-family: Pretendard, sans-serif;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer .img-fluid {
    max-width: 150px;
}

.footer .text-uppercase {
    font-weight: bold;
}

.footer .list-unstyled {
    list-style: none;
    padding: 0;
}

.footer .list-unstyled li {
    margin-bottom: 10px;
}

.footer .text-dark {
    color: #000;
    text-decoration: none;
}

.footer .text-dark:hover {
    text-decoration: underline;
}

/* Disable hover styles on touch devices */
@media (hover: none) {
    .btn-outline-secondary:hover {
        background-color: transparent;
        color: inherit;
    }
}

/* Image width adjustments */
.result-image {
    width: 100%;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .result-image {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    .result-image {
        width: 50%;
    }
}

/* Container adjustments */
@media (min-width: 768px) {
    .container {
        max-width: 500px;
        margin: auto;
    }
}

@media (max-width: 767.98px) {
    .container {
        max-width: 100%;
        margin: auto;
    }
}
